/*.center {*/
/*    text-align: center !important;*/
/*    font-family: Poppins,Helvetica,sans-serif;*/
/*    font-size: 1.2em;*/
/*    font-weight: 400;*/
/*}*/

.user-dashboard-box-container{
    background: #fff;
    height: 28rem;
    padding-top: 50px;
    padding-right: 5px;
    margin-left: 30px;
    width: 31%;
    border-radius: 5px;
    box-shadow: 0 4px 5px 0
    rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
}

.box_border {
    width: 22%;
    height: 15rem;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, .1);
    border-radius: 6px;
    padding-top: 35px;
}


.left-badge {
    height:40px;
    width:6px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-top: 17px;
}

.center_style{
    font-size: 1.2em;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.box-border {
    width: 21%;
    height: 17rem;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, .1);
    border-radius: 6px;

}

.box-border--item-color-one{
    background: #f9c15578;
    box-shadow: 0 0 3px 1px rgb(249, 193, 85);
}

.box-border--item-color-tow{
    background: #d0cabf3d;
    box-shadow: 0 0 3px 1px rgb(208, 202, 191);
}

.box-border--item-color-three{
    background: #7155f96e;
    box-shadow: 0 0 3px 1px rgb(113, 85, 249);
}

.box-border--item-color-four{
    background: #fd04046e;
    box-shadow: 0 0 3px 1px rgb(253, 4, 4);
}

.top_menu_font{
    font-size: 14px;
    font-weight: 700;
    vertical-align: top;
    color: #626262;
    text-transform: uppercase;
    padding-left: 30px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

.box-header-label {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 700;
    vertical-align: top;
    color: #626262;
    text-transform: uppercase;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

.box-bottom-number {
    font-weight: 700 !important;
    text-shadow: 1px 1px 1px #e1e1e1;
    font-size: 70px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin-bottom: 12px !important;
}

.top_menu_font_subtitel{
    font-weight: 700 !important;
    /*text-shadow: 1px 1px 1px #e1e1e1;*/
    font-size: 42px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin-top: -46px !important;
    margin-bottom: 16px !important;
}

/*.icon_top_menu{*/
/*    align-items: flex-start;*/
/*    color: blue;*/
/*    height: 40px;*/
/*    width: 40px;*/
/*    margin-left: -90px;*/
/*    margin-top: -14px;*/
/*    background: #eae8fd;*/
/*    border-radius: 50px;*/
/*    padding: 8px;*/
/*}*/

.thumbnail-box {
    box-shadow: 0 0 3px 1px #796df1;
    display: flex;
    justify-content: center;
    color: white;
    padding: 25px;
    height: 180px;
    border: none !important;
}

.thumbnail-box-background--blue {
    background: linear-gradient(118deg,rgba(115, 103, 240, 1),rgba(115, 103, 240, 0.7)) !important;
}

.thumbnail-box-background--red {
    background: linear-gradient(118deg,rgba(253, 57, 122, 1),rgba(253, 57, 122, 0.7)) !important;
}

.thumbnail-box--earning {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: white;
    margin-left: 25%;
    font-weight: bold;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1) !important;
    font-family: 'Montserrat', sans-serif;
}

.thumbnail-box--earning-background--blue {
    background-color: rgba(115, 103, 240, 1) !important;
}

.thumbnail-box--earning-background--red {
    background-color: rgba(253, 57, 122, 1) !important;
}

.thumbnail-box--title {
    margin-top: 15px;
    font-weight: 500;
    line-height: 1.2;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

.thumbnail-box-container{
    text-align: center;
}

.floating-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 50%;
    right: 0;
    padding: 5px;
    cursor: pointer;
    width: 40px;
    height: 35px;
    /*font-weight: 400;*/
    background: rgba(115, 103, 240, 1);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.floating-popup {
    z-index: 999;
    width: 160px;
    height: 130px;
    background: white;
    position: fixed;
    top: 50%;
    left: 82%;
    padding: 15px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1) !important;
}

.floating-popup ul {
    list-style: none;
}

.floating-popup ul li {
    line-height: 2;
    border-bottom: 1px solid #eee;
}

.floating-menu-label{
    color: white !important;
    margin-bottom: 0;
}

.left-side-bar {
    background: white;
    margin-right: 0;
    width: 20%;
    padding: 25px;
    margin-bottom: 0;
    line-height: 2;
    font-family: 'Montserrat', sans-serif;
}

.page-container {
    width: 80%;
    background: #f5f5f5;
    margin-bottom: 0;
}

