/*.center {*/
/*    text-align: center !important;*/
/*    font-family: Poppins,Helvetica,sans-serif;*/
/*    font-size: 1.2em;*/
/*    font-weight: 400;*/
/*}*/

.box_border {
    width: 22%;
    height: 15rem;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, .1);
    border-radius: 6px;
    padding-top: 35px;
}


.left-badge {
    height:40px;
    width:6px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-top: 17px;
}

.center_style{
    font-size: 1.2em;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.box-border {
    width: 21%;
    height: 17rem;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, .1);
    border-radius: 6px;

}

.box-border--item-color-one{
    background: linear-gradient(118deg,rgb(253, 213, 57),rgba(0, 96, 55, 0.44)) !important;
}

.box-border--item-color-tow{
    background: linear-gradient(118deg,rgba(147, 144, 255, 0.77),rgba(204, 175, 248, 0.7)) !important;
}

.box-border--item-color-three{
    background: linear-gradient(118deg,rgb(159, 249, 141),rgba(59, 123, 15, 0.64)) !important;
}

.box-border--item-color-four{
    background: linear-gradient(118deg,rgb(228, 232, 121),rgba(168, 159, 89, 0.7)) !important;
}

.top_menu_font{
    font-size: 14px;
    font-weight: 700;
    vertical-align: top;
    color: #626262;
    text-transform: uppercase;
    padding-left: 30px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

.box-header-label {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 700;
    vertical-align: top;
    color: #000000;
    text-transform: uppercase;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

.box-bottom-number {
    font-weight: 700 !important;
    text-shadow: 1px 1px 1px #e1e1e1;
    font-size: 70px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin-bottom: 12px !important;
}

.top_menu_font_subtitel{
    font-weight: 700 !important;
    /*text-shadow: 1px 1px 1px #e1e1e1;*/
    font-size: 42px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin-top: -46px !important;
    margin-bottom: 16px !important;
}

/*.icon_top_menu{*/
/*    align-items: flex-start;*/
/*    color: blue;*/
/*    height: 40px;*/
/*    width: 40px;*/
/*    margin-left: -90px;*/
/*    margin-top: -14px;*/
/*    background: #eae8fd;*/
/*    border-radius: 50px;*/
/*    padding: 8px;*/
/*}*/

.thumbnail-box {
    /*box-shadow: 0 0 3px 1px #796df1;*/
    display: flex;
    justify-content: center;
    color: white;
    padding: 25px;
    height: 180px;
    border: none !important;
}

.thumbnail-box-background--blue {
    background: linear-gradient(118deg,rgba(115, 103, 240, 1),rgba(115, 103, 240, 0.7)) !important;
}

.thumbnail-box-background--red {
    background: linear-gradient(118deg,rgba(253, 57, 122, 1),rgba(253, 57, 122, 0.7)) !important;
}

.thumbnail-box--earning {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: white;
    margin-left: 25%;
    font-weight: bold;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1) !important;
    font-family: 'Montserrat', sans-serif;
}

.thumbnail-box--earning-background--blue {
    background-color: rgba(115, 103, 240, 1) !important;
}

.thumbnail-box--earning-background--red {
    background-color: rgba(253, 57, 122, 1) !important;
}

.thumbnail-box--title {
    margin-top: 15px;
    font-weight: 500;
    line-height: 1.2;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

.thumbnail-box-container{
    text-align: center;
}

.floating-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 50%;
    right: 0;
    padding: 5px;
    cursor: pointer;
    width: 91px;
    height: 40px;
    /*font-weight: 400;*/
    background: #ec008c4d;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.floating-popup {
    z-index: 999;
    width: 160px;
    /*
    height: 130px;
    */
    background: white;
    position: fixed;
    top: 58%;
    left: 88%;
    padding: 15px;
    /*box-shadow: 0 2px 4px 0 rgba(0,0,0,.1) !important;*/
    background: #f1f1f1;
}

.floating-popup ul {
    list-style: none;
}

.floating-popup ul li {
    line-height: 2;
    border-bottom: 1px solid #eee;
}

.floating-menu-label{
    color: white !important;
    margin-bottom: 0;
    font-size: 20px !important;
}

.left-side-bar {
    background: white;
    margin-right: 0;
    width: 20%;
    padding: 0 15px;
    margin-bottom: 0;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
}
.left-side-bar > div {
    /*padding-left: 1rem;*/
    /*padding-right: 1rem;*/
}

.page-container {
    /*width: 80%;*/
    background: #f1f1f1 !important;
    margin-bottom: 0;
}

.left-badge-user {
    height:60px;
    width:6px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-top: 17px;
}

.thumbnail-user{
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, .1);
    border-radius: 6px;
    border: none;
    height: 15rem;
    width: 80%;
    margin-left: 37px;
}

.user-dashboard-circle{
    font-size: 24px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.circle {
    margin-top: 30px !important;
}

.table-approved-req > tbody > tr > td:first-child{
    border-left: none !important;

}
.view-table{
    width: 60%;
    align-items: center;
}

.view-table > tbody > tr > td{
    text-align: left;
    line-height: 2;
}

.view-table > tbody > tr{
    margin-left: 50px;

}

.custom-box-design{
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
}

.table-header-text{
    background: #fff;
    padding-top: 25px;
    padding-left: 10px;
    color: #5A5A5A;
    text-align: left;
}

.user-history-heading-text{
    background: #fff;
    text-align: center;
    padding-left: 5px;
    color: #5A5A5A;
    font-size: 24px;
}

.menubox{
    /*box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);*/
    padding-top: 1px;
}

.menubox > ul > li{
    background: #ffffff !important;
    /*border-bottom: 1px solid #e3e3e3;*/
    /*margin-bottom: 10px;*/
}
.menubox > ul > li:last-child{
    border-bottom: 0;
}

.no-resultfound-text{
    font-size: 40px;
    color: #c1c1c1;
    opacity: 0.4;
}

.no-resultfound-text-padding{
    padding-top: 30px;
    padding-bottom: 30px;
    border: none !important;
    padding-left: 95px;
}

.box-header-text{
    font-size: 24px !important;
    color: #5A5A5A;
}

.user-dashboard-box-container{
    background: #fff;
    height: 28rem;
    padding-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    width: 31%;
    border-radius: 5px;
    /*box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);*/
    box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
}

.use-dashboard-box1{
    background: linear-gradient(118deg,rgb(33, 23, 130),rgba(115, 103, 240, 0.7)) !important;
    box-shadow: 0 0 3px 1px #6057c4 !important;
}

.use-dashboard-box2{
    background: linear-gradient(118deg,rgb(30, 101, 64,1),rgb(78, 202, 138)) !important;
    box-shadow: 0 0 3px 1px #49916c !important;
}

.use-dashboard-box3{
    background: linear-gradient(118deg,rgb(123, 35, 64,1),rgb(253, 57, 122)) !important;
    box-shadow: 0 0 3px 1px #d9366d !important;
}

.circle-shadow{
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
    border-radius: 50%;
}

.list-item-style{
    list-style: none;
    line-height: 4;
    font-size: 16px;
    padding-left: 5px;
    color: #404040;
    border-bottom: none !important;
}

.list-item-circle{
    margin-left: -11px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 5px;
    background: #fff;
    border-width: 3px;
    border-style: solid;
}

.list-item-line{
    height: 100%;
    border-left: 4px solid #e7e9f5;
}

.list-item-height{
    display: flex;
    align-items: center;
    height: 62px;
}

.user-dashboard-chart-container{
    background: #fff;
    height: 30rem;
    padding-top: 50px;
    padding-right: 5px;
    margin-left: 15px;
    margin-right: 15px;
    width: 31%;
    border-radius: 5px;
    /*box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);*/
    box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
}

.user-dashboard-chart-label{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-top: -40px;
    padding-right: 15px;
}

.userpickAndDrop-chart-container{
    background: #fff;
    height: 45rem;
    padding-top: 0px;
    padding-right: 0px;
    /*margin-left: 30px;*/
    width: 48%;
    border-radius: 5px;
    /*box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);*/
    box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
}

.user-dashboard-image-container{
    height:365px;
    width:auto;
    background:#fff;
    border-radius: 5px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
}

.error-message-position{
    padding-left: 65px;
    margin-top: -40px;
}
.animation-duration{
    animation-duration: 10s;
}

.user-dashboard-image{
    width: 100%;
    object-fit: cover;
    /* margin-top: 56px; */
    height: 256px;
}

.subtitle-user{
    font-size: 12px;
    margin-top: -40px;
    text-align: center;
}

.user-icon-style{
    font-size: 18px !important;
    color: rgba(110, 107, 99, 0.87);
}

.floating-menu-icon{
    font-size: 20px !important;
}

.section-space{
    padding-top: 50px;
}

.header-text{
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #555;
    margin-bottom:10px
}

#top-search1{
    float: left;
    margin: 30px 0px 30px 50px;
}

.dashboard-notice-icon{
    font-size: 24px !important;
    color: #7155f9;
}

.dashboard-notice-text{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.dashboard-feedback{
    height: 405px;
    background: #fff;
}

.top-search{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
    margin-bottom:10px;
}

.donutchart{
    width: 400px;
    height: 300px;
    margin-left: 27px;
}

@media (max-width: 1440px) {
    .donutchart{
        width: 400px;
        height: 300px;
        margin-left: -16px;
    }
}

.chart_div1{
    width: 300px;
    height: 300px;
    margin-top: -10px;       
}

.leave-request{
    padding-left: 150px;
    margin-bottom: 50px;
}

.leave-form{
    display: flex;
    height: 30px;
}

.leave-inner-class-form{
    margin: 0 0 -20px 0;
    padding: 12px;
}

.booking-history{
    /*margin-left: 22px;*/
}


.footer_heading{
    color: #fff;
}

.footer_text a{
    
    color: #000000 !important;
}
.footer_text {
    
    color: #000000 !important;
}

.menu_modified{
    margin-left: -35px;
    margin-right: -35px;
}

.left-url > li > a{
    /*background: rgb(255, 210, 210);*/
    -webkit-transform: all .3s linear;
    -moz-transform: all .3s linear;
    -ms-transform: all .3s linear;
    -o-transform: all .3s linear;
    transform: all .3s linear;
    padding: 1rem;
}
.left-url > li > a:hover{
    color: #ff229a !important;
    background: #fff1fa !important;
}
.left-url > li > a i{
    color: #ff229a !important;
}
.left-url > li > a:hover i{
    color: #ff229a !important;
}
.left-url > li.ui-tabs-active > a > i{
    color: #ff229a !important;
}
.left-url > li.ui-tabs-active > a, .left-url > .ui-tabs-active > a:hover{
    color: #ff229a !important;
    background: #fff1fa !important;
}
/*.left-url > li:nth-child(2) > a{
    background: rgb(255, 210, 210);
}
.left-url > li:nth-child(2) > a:hover{
    background: rgb(255, 199, 199);
}
.left-url > li:nth-child(2).ui-tabs-active > a, .left-url > li:nth-child(2).ui-tabs-active > a:hover{
    background: rgb(255, 199, 199) !important;
}

.left-url > li:nth-child(3) > a{
    background: rgb(202, 248, 255);
}
.left-url > li:nth-child(3) > a:hover{
    background: rgb(170, 244, 255);
}
.left-url > li:nth-child(3).ui-tabs-active > a, .left-url > li:nth-child(3).ui-tabs-active > a:hover{
    background: rgb(170, 244, 255) !important;
}

.left-url > li:nth-child(4) > a{
    background: rgb(202, 248, 255);
}
.left-url > li:nth-child(4) > a:hover{
    background: rgb(170, 244, 255);
}
.left-url > li:nth-child(4).ui-tabs-active > a, .left-url > li:nth-child(4).ui-tabs-active > a:hover{
    background: rgb(170, 244, 255) !important;
}
.left-url > li:nth-child(5) > a{
    background: rgb(248, 255, 235);
}
.left-url > li:nth-child(5) > a:hover{
    background: rgb(244, 255, 200);
}
.left-url > li:nth-child(5).ui-tabs-active > a, .left-url > li:nth-child(5).ui-tabs-active > a:hover{
    background: rgb(244, 255, 200) !important;
}
.left-url > li:nth-child(6) > a{
    background: rgb(248, 255, 235);
}
.left-url > li:nth-child(6) > a:hover{
    background: rgb(244, 255, 200);
}
.left-url > li:nth-child(6).ui-tabs-active > a, .left-url > li:nth-child(6).ui-tabs-active > a:hover{
    background: rgb(244, 255, 200) !important;
}*/

.border-round-top{
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    border-bottom: 0;
}
.border-round-bottom{
    overflow: hidden;
    border-radius: 0 0 5px 5px;
}