             
             
             /*-----------------------User Responsive Start-----------------------  */

@media (min-width: 1920px) {
    /*User Dashboard Start*/
    .user-dashboard-box-container{
        margin-left: 22px;
        margin-right: 22px;
    }
    .user-dashboard-chart-container{
        margin-left: 22px;
        margin-right: 22px;
    }
    .profile-img-square img {
        width: 399px;
        height: 285px;
    }
/*    User Dashboard End*/
}
@media (max-width: 1200px)  {
    /*User Dashboard Start*/
    .user-dashboard-box-container{
        margin-left: 13px;
        margin-right: 13px;
    }
    .user-dashboard-chart-container{
        margin-left: 13px;
        margin-right: 13px;
    }
   .profile-img-square img {
        width: 399px;
        height: 285px;
    }

/*    User Dashboard End*/

}

@media (min-width: 988px) and (max-width: 1199px) {
    /*User dashboard start*/
    .user-dashboard-box-container{
        padding-top: 25px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .profile-img-square img {
        text-align: center;
        width: 399px;
        height: 285px;
    }
    .thumbnail-user{
        width: 96%;
        margin-left: 7px;
    }
    .user-dashboard-chart-container{
        margin-left: 8px;
        margin-right: 15px;
    }
    .donutchart{
        margin-left: -50px;
    }
    .chart_div1{
        margin-left: 0;
    }
    #top-search1{
        margin: 40px 0px 40px 35px;
    }
    .dashboard-notice-text{
        font-size: 15px;
        line-height: 2;
    }
    .dashboard-notice-icon{
        font-size: 18px !important;
    }
    /*    User dashboard end*/

/*    User Requisition Start*/
    .profile-usertitle{
        margin-left: 40px;
        margin-right: -42px;
    }
    .left-side-bar{
        width: 100% !important;
        margin-top: 10px;
        border-radius: 5px;
    }
    #top-search a i{
        margin-left: 0;
    }

    .col-responsive{
        width: 143%;
        margin-left: -42px;
        margin-right: 5px;
    }
    .table-cantainer{
        width: 148%;
        margin-left: -42px;
        margin-right: 5px;
    }
/*    User Requisition End*/
    /*    User Pick & Drop Start*/
    .toggle.toggle-bg .togglet {
        width: 140% !important;
        margin-left: -42px !important;
    }
    .toggle.toggle-bg .togglec{
        width: 141% !important;
        margin-left: -42px !important;
    }
    .table-responsive{
        overflow: scroll !important;
        width: 141%;
        margin-left: -42px;
    }
    /*    User Pick & Drop End*/
}

@media (max-width: 991px) {
    /*User dashboard start*/
    .user-dashboard-box-container{
        padding-top: 25px;
        margin-left: 8px;
    }
     .profile-img-square img {
        width: 264px;
        height: 216px;
    }
    .thumbnail-user{
        width: 100%;
        margin-left: 0;
    }
    .user-dashboard-chart-container{
        margin-left: 8px;
        margin-right: 15px;
    }
    .donutchart{
        margin-left: -50px;
    }
    .chart_div1{
        margin-left: 0;
    }
    #top-search1{
        margin: 40px 0px 40px 35px;
    }
    .dashboard-notice-text{
        font-size: 15px;
        line-height: 2;
    }
    .dashboard-notice-icon{
        font-size: 18px !important;
    }
    /*    User dashboard end*/

    /*    User Requisition Start*/

    /*    User Requisition End*/


}

@media (min-width: 768px) and (max-width: 991px) {
    /*User dashboard start*/
     .profile-img-square img {
        width: 264px;
        height: 216px;
    }
    .user-dashboard-chart-container {
        margin-left: 12px;
        margin-right: 12px;
        width: 96%;
        margin-top: 0px;
        margin-top: 50px;
    }
    .user-dashboard-box-container {
        margin-left: 12px;
        margin-right: 12px;
        width: 30%;
        margin-top: 0px;
    }
    .user-dashboard-circle{
        font-size: 19px;
    }
    .circle{
        margin-top: 35px !important;
    }

    .section-space{
        padding-top: 0 !important;
    }
    .box-container{
        margin-right: 0px;
        margin-left: 0px;
    }
    .list-item-style{
        font-size: 12px;
    }
    .user-dashboard-image-container{
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 50px;
        height: auto;
    }
    .user-dashboard-image{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #primary-menu-trigger{
        display: none;
    }
    .header-text{
        margin-left: 0;
        margin-top: 0;
        font-size: 16px;
    }
    #top-search1{
        margin: 0;
        margin-bottom: 10px;
    }
    #logo img{
        margin-left: 32px;
    }
    #top-search a i{
        margin-left: 40px;
    }
    .dashboard-notice-text{
        font-size: 13px;
        line-height: 1.8;
    }
    .dashboard-notice-icon{
        font-size: 18px !important;
    }
    .dashboard-feedback{
        margin-top: 50px;
    }
    .chart_div1{
        margin-top: 0px;
        padding-left: 200px;
    }
    .donutchart{
        margin-left: 190px;
    }
    /*    User dashboard end*/

/*    User Requisition Start*/
    .profile-usertitle{
        margin-left: 40px !important;
        margin-right: -42px !important;
    }
    .left-side-bar{
        width: 100% !important;
        margin-top: 10px;
        border-radius: 5px;
    }
    #top-search a i{
        margin-left: 0;
    }

    .col-responsive{
        width: 143%;
        margin-left: -42px;
    }
    .table-cantainer{
        width: 143%;
        margin-left: -42px;
    }

/*    User Requisition end*/

    /*    User Sell History Start*/
    .responsive-sell-history{
        width: 147% !important;
        margin-left: -40px !important;
    }

    .responsive-sell-history-table{
        width: 101% !important;
        margin-left: -2px !important;
    }

    /*    User Sell History End*/

    /*    User Booking History Start*/
    .responsive-booking-history{
        width: 732px;
        margin-left: -40px !important;
    }
    .booking-history{
        margin-left: -42px !important;
    }
    .responsive-booking-history-table{
        width: 101% !important;
        margin-left: 0px !important;
    }

    /*    User Booking History End*/

/*    User My Dashboard Start*/
    .box-container{
        width: 99% !important;
        margin-left: 0px !important;
        }
    .userpickAndDrop-chart-container{
        width: 148% !important;
        margin-left: -42px;
    }
/*    User My Dashboard End*/

    /*    User Pick & Drop Start*/
    .toggle.toggle-bg .togglet {
        width: 147% !important;
        margin-left: -42px !important;
    }
    .toggle.toggle-bg .togglec{
        width: 147% !important;
        margin-left: -42px !important;
    }
    .table-responsive{
        overflow: scroll !important;
        width: 147%;
        margin-left: -42px;
    }
    .table-responsive2{
        width: 100% !important;
        margin-left: 0 !important;
    }
    /*    User Pick & Drop End*/

/*    User Shohochor Start*/
    .col_half {
        width: 148%;
        margin-left: -42px;
}
    /*    User Shohochor End*/


    /*    User Leave Start*/

    .responsive-leave-request{
        width: 147% !important;
        margin-left: -42px !important;
    }

    /*    User Leave End*/

}

@media (max-width: 767px) {
 .profile-img-square img {
        width: 264px;
        height: 216px;
    }

}

@media (min-width: 0px) and (max-width: 767px) {
    /*User dashboard start*/
     .profile-img-square img {
        width: 264px;
        height: 216px;
    }
    .user-dashboard-chart-container, .user-dashboard-box-container {
        margin-left: 5px;
        margin-right: 5px;
        width: auto;
        margin-top: 50px;
        padding-top: 45px;
    }
    .user-dashboard-circle{
        font-size: 19px;
    }
    .circle{
        margin-top: -45px !important;
    }

    .section-space{
        padding-top: 0 !important;
    }
    .box-container{
        margin-right: -10px;
        margin-left: -10px;
    }
    .list-item-style{
        font-size: 12px;
    }
    .user-dashboard-image-container{
        margin-right: -10px;
        margin-left: -10px;
        margin-top: 50px;
        height: auto;
    }
    .user-dashboard-image{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #primary-menu-trigger{
        display: none;
    }
    .header-text{
        margin-left: 0;
        margin-top: 0;
        font-size: 16px;
    }
    #top-search1{
        margin: 0;
        margin-bottom: 10px;
    }
    #logo img{
        margin-left: 32px;
    }
    #top-search a i{
        margin-left: 30px;
    }
    .dashboard-notice-text{
        font-size: 13px;
        line-height: 1.8;
    }
    .dashboard-notice-icon{
        font-size: 18px !important;
    }
    .dashboard-feedback{
        margin-top: 50px;
    }
    /*    User dashboard end*/


/*    User Requisition Page Start*/

    .left-side-bar{
        width: 100% !important;
        margin-top: 10px;
    }
    #top-search a i{
        margin-left: 0;
    }

    .responsive-box-container{
        margin-left: -10px;
        margin-right: -10px;
    }
    .responsive-chart{
        margin-left: -40px;
    }
    .responsive-table{
        overflow: scroll;
        width: auto;
        margin-right: 20px;
    }
    .table-cantainer{
        margin-left: -9px;
        width: 105%;
    }

/*    User Requisition Page End*/


/*    User Sell History Start*/
    .responsive-sell-history{
        /*width: 113%;
        margin-left: -40px !important;*/
    }
    .responsive-sell-history-table{

        overflow: scroll !important;
    }

/*    User Sell History End*/


/*    User Booking History Start*/
    .responsive-booking-history{
        /*width: 113%;
        margin-left: -42px !important;
        padding-left: 10px;
        padding-right: 10px;*/
    }
    .responsive-booking-history-table{

        overflow: scroll !important;
    }
/*    User Booking History End*/


    /*    My Dashboard Start*/
    .box-border{
        width: 100% !important;
        /*margin-left: -12px !important;*/
    }
    .box-header-label{
        margin-top: -60px !important;
        margin-left: 15px !important;
    }
    .userpickAndDrop-chart-container{
        width: 103% !important;
        margin-left: -7px;
    }
    .background-remove{
        background: none !important;
        box-shadow: none !important;
    }
    /*    My Dashboard End*/


/*    User Pick & Drop Start*/
    .toggle.toggle-bg .togglet i{
        left: 94% !important;
    }
    .table-responsive{
        overflow: scroll !important;
    }
/*    User Pick & Drop End*/

/*    User Leave Start*/
    .leave-request{
        padding-left: 0px !important;
    }
    .leave-form{
        height: 120px !important;
    }

    .responsive-leave-inner-class-form{
        padding-top: 80px !important;
        margin-left: -170px !important;
    }
/*    User Leave End*/
}

@media (max-width: 479px) {
     .profile-img-square img {
        width: 264px;
        height: 216px;
    }
    /*    User Sell History Start*/
    .responsive-sell-history{
        /*width: 104%;*/
        margin-left: -8px !important;
        margin-right: 8px !important;
    }
    .responsive-sell-history-table{

        overflow: scroll !important;
    }

    /*    My Dashboard Start*/

    .userpickAndDrop-chart-container{
        /*width: 103% !important;*/
        margin-left: -7px;
    }
    .mydashboardpiechart-responsive{
        margin-left: -62px;
    }
    .middle_margin{
        padding-right: 0;
        padding-left: 0;
    }

    /*    My Dashboard End*/

    /*    User Pick & Drop Start*/
    .toggle.toggle-bg .togglet i{
        left: 94% !important;
    }
    .table-responsive{
        overflow: scroll;
    }
    /*    User Pick & Drop End*/

    /*    User Sell History End*/

    /*    User Booking History Start*/
    .responsive-booking-history{
        width: 104%;
        margin-left: -8px !important;
    }
    .responsive-booking-history-table{

        overflow: scroll !important;
    }
    /*    User Booking History End*/
}



            /* -------------------------------------User Responsive End--------------------------- */



            /* -------------------------------------Admin Responsive Start------------------------ */




@media  (min-width: 1920px) {
     .profile-img-square img {
        width: 399px;
        height: 285px;
    }
    .admin-dashboard-responsive{
        /*width: 104% !important;*/
    }
    .export-to-excel-button-responsive{
       /* margin-right: -215px !important;*/
    }
   /* Fllating Menu  */

    .floating-popup{
        top: 55% !important;
        left: 90% !important;
    }
    
}

@media (min-width: 988px) and (max-width: 1199px) {
     .profile-img-square img {
        width: 399px;
        height: 285px;
    }
    /* Admin Dashboard Start */
    .admin-info-responsive{
        margin-left: 0 !important;
    }
    .admin-dashboard-responsive{
        width: 145%;
        margin-left: -40px;
    }
    .responsive-section{
        width: 138% !important;
    }
    .admin-dashboard-table{
        width: 140%;
        margin-left: -42px !important;
        overflow: scroll;
    }

/* Admin Dasboard End */

 /* Manage User Start*/
    .create-button-responsive{
         margin-left: 140% !important;
    }
    .heading-label-responsive{
        width: 140%;
        margin-left: -42px !important;
   }
   .page_header_div{
    margin-left: -42px !important;
    width: 147% !important;
}

.update-form-background{
    margin-left: -42px !important;
    width: 140% !important;
}
    
    /* Mange User End */

    /* Seat Request Admin Start */
    .admin-seat-request-table-responsive{
        width: 140% !important;
        margin-left: -42px;
    }
    .searchbar{
        width: 140%;
        margin-left: -42px;
    }
    /* .page_header_div{
        width: 140% !important;
        margin-left: -42px !important;
    } */
    .export-to-excel-button-responsive{
        margin-right: -215px !important;
    }
    /* Seat Request Admin End */

    /* Shohochor Start */

.seat-booking-collection-responsive{
    width: 140% !important;
    margin-left: -42px !important;
}
.seat-booking-collection-table-responsive{
    width: 146% !important;
    margin-left: 12px !important;
}

/* Shohochor End */

/* User Report Start */
.user-report-responsive{
    width: 140% !important;
    margin-left: -42px !important;
}
.user-report-table-responsive{
    width: 100% !important;
    margin-left: 0 !important;
}
/* User REport End */

/* profile View */

.profile-view-responsive{
    width: 140% !important;
    margin-left: -42px;
}
.back-to-previous{
    width: 26% !important;
    margin-right: -189px !important;
}
    /* Fllating Menu  */

    .floating-popup{
        top: 57% !important;
        left: 83% !important;
    }
    .book-seat-responsive{
        width: 140%;
        margin-left: -42px;
    }
    .admin-table-responsive{
        width: 140% !important;
        margin-left: -42px !important;
    }
    .page_header_div{
        margin-left: -42px !important;
        width: 140% !important;
    }
}

@media (max-width: 991px) {
     .profile-img-square img {
        width: 399px;
        height: 285px;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
     .profile-img-square img {
        width: 399px;
        height: 285px;
    }
        /* Admin Dashboard Start */
        .admin-dashboard-responsive{
            margin-left: -23px !important;
            margin-right: -48px !important;
        }
        .box-border-responsive{
            width: 128% !important;
            margin-left: -18px;
        }
        .admin-dashboard-chart-responsive-label{
            width: 120% ;
        }
        .admin-dashboard-chart-responsive{
            margin-left: 150px;
        }
        .admin-dashboard-marketplace{
            margin-left: -185px;
            width: 172%;
        }
        .admin-dashboard-table{
            width: 146%;
            margin-left: -41px !important;
        }
        .center_style_responsive{
            padding-left: 20%;
        }
        .admin-info-responsive{
            margin-left: 0 !important;
        }
    /* Admin Dasboard End */

        /* Manage User Start*/
        .create-button-responsive{
            margin-left: 114% !important;
        }
        .heading-label-responsive{
            width: 146%;
            margin-left: -42px !important;
        }
        .toggle-section-responsive{
            width: 99% !important;
            margin-left: 0 !important;
        }
        .page_header_div{
            margin-left: -42px !important;
            width: 147% !important;
        }
        .page_header_div2{
            margin-left: 0 !important;
            width: 147% !important;
        }
        .update-form-background{
            margin-left: -42px !important;
            width: 147% !important;
        }
        .update-form-background > form{
            width: 72% !important;
            margin-left: 15px;
        }
    
    /* Mange User End */

    /* Seat Request Admin Start */
    .search-box-responsive{
        width: 146% !important;
        margin-left: -42px !important;
    }
    .export-to-excel-button-responsive{
        margin-right: -160px !important;
    }
    .admin-table-responsive{
        width: 145% !important;
        margin-left: -42px !important;
    }
    .admin-seat-request-table-responsive{
        width: 100% !important;
        margin-left: 0px !important;
    }
/* Seat Request Admin End */

/* Shohochor Start */

.seat-booking-collection-responsive{
    width: 146% !important;
    margin-left: -42px !important;
}
.seat-booking-collection-table-responsive{
    width: 146% !important;
    margin-left: 12px !important;
}

/* Shohochor End */

/* Route Management Start */
.zone-grid-responsive{
    width: 146% !important;
    margin-left: -42px !important;
}
/* Route Management End */

/* User Report Start */
.user-report-responsive{
    width: 146% !important;
    margin-left: -42px !important;
}
.user-report-table-responsive{
    width: 100% !important;
    margin-left: 0 !important;
}
/* User REport End */

/* profile View */

.profile-view-responsive{
    width: 147% !important;
    margin-left: -42px;
}
.back-to-previous{
    width: 26% !important;
    margin-right: -189px !important;
}

    /* Fllating Menu  */

    .floating-popup{
        top: 57% !important;
        left: 77% !important;
    }
    .searchbar{
        width: 146%;
        margin-left: -42px;
    }
}

@media (min-width: 478px) and (max-width: 767px) {
     .profile-img-square img {
        width: 399px;
        height: 285px;
    }
        .admin-dashboard-chart-responsive{
            margin-left: 30px;
        }
    /* Admin Dasboard End */
    .floating-popup{
        top: 55% !important;
        left: 77% !important;
    }
    .update-form-background2{
        width: 100% !important;
        margin-left: 0 !important ;
    }
    .searchbar-search-button{
        /*width: 115% !important;*/
        margin: 0 !important;
    }

}

 @media (max-width: 479px) {
     .profile-img-square img {
        width: 399px;
        height: 285px;
    }
    .update-form-background{
        margin-left: -15px !important;
        width: 136% !important;
    }
/* Mange User End */

    .admin-seat-request-table-responsive{
        width: 100% !important;
        margin-left: 0px !important;
    }
    .searchbar{
        /*width: 140%;*/
        /*margin-left: -16px;*/
    }
/* Seat Request Admin End */

/* Route Management End */

/* User Report Start */
    .user-report-responsive{
        width: 134% !important;
        margin-left: -12px !important;
    }
    
/* User REport End */ 

/* profile View */

    .profile-view-responsive{
        width: 136% !important;
        margin-left: -13px;
    }
    .back-to-previous{
        width: 50% !important;
        margin-right: -75px !important;
    }

    /* Floating Menu  */

    .floating-popup{
        top: 57% !important;
        left: 58% !important;
    }

    .overflow-design{
        overflow-y: scroll !important;
        width: 130% !important;
    }

    .update-form-background{
        width: 137% !important;
        margin-left: -14px !important;
    }
    .route-form-box{
        display: block !important;
    }
    .update-form-background2{
        width: 100% !important;
        margin-left: 0 !important ;
    }
    .searchbar-search-button{
        /*width: 250% !important;*/
        margin-left: -67px !important
    }
 }

 @media (min-width: 360px){
     .profile-img-square img {
        width: 532px;
        height: 285px;
    }

    .route-form-box{
        display: block !important;
    }


    }
 