/*.center {*/
/*    text-align: center !important;*/
/*    font-family: Poppins,Helvetica,sans-serif;*/
/*    font-size: 1.2em;*/
/*    font-weight: 400;*/
/*}*/
/*.col_half .center{*/
/*    text-align: center !important;*/
/*    font-family: Poppins,Helvetica,sans-serif;*/
/*    font-size: 1.2em;*/
/*    font-weight: 700;*/
/*}*/
.page_header {
    text-align: left;
    padding-left: 8px;
    background: white;
    border-bottom: 1px solid rgba(26, 54, 126, 0.125);
    color: #5a5a5a;
}

.search_button {
    width: max-content;
    float: right;
}

.table_data_right {
    text-align: right !important;
}

.table_data_left {
    text-align: left !important;
}

.table_data_center {
    text-align: center !important;
}

.cart td {
    font-size: 1.5rem;
    color: #626262;
    font-weight: 500;
    vertical-align: top !important;
}

.cart-product-price {
    text-align: left !important;
}

.cart th {
    font-size: 1.5rem;
    color: #626262;
}

a {
    color: #5a5a5a !important;
    /*text-decoration: none !important;
    vertical-align: super;*/
}

.table > thead > tr > th {
    border-bottom: none !important;
    vertical-align: top !important;
}

.table > thead {
    border-bottom: 1px solid #f2ecec !important;
    /*border-top: 1px solid #f2ecec !important;*/
}

.table > thead > tr {
    border-bottom: 1px solid #f2ecec !important;
}

#search-button {
    width: 100% !important;
    padding: 9px !important;
    border: 1px solid rgba(112, 112, 112, 0.05) !important;
    color: white !important;
    border-radius: 5px !important;
    font-size: 17px !important;
    text-align: center;
}

.s002 form .inner-form .input-field.fouth-wrap .choices__inner .choices__list--single .choices__item {
    color: #5f5f5f !important;
    margin-left: -12px;
}

.summary {
    float: right;
    font-size: 1.5rem;
    color: #5f5f5f;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.export_to_excel_button {
    background-color: #20272e;
    border: none;
    padding: 8px 10px;
    text-align: center !important;
    text-decoration: none;
    display: inline-block !important;
    font-size: 14px;
    margin-bottom: 1rem;
    cursor: pointer;
    float: right;
    border-radius: 5px;
    font-weight: 700;
}

.export_to_excel_button_rout {
    margin: -1rem 0 3rem 0;
}

.export_to_excel_button a {
    color: white !important;
}

.page-container {
    background: none !important;
}

.col_one_third > label {
    text-transform: none !important;
}

.col_one_fourth > label {
    text-transform: none !important;
}

.choices__input {
    border: 1px solid #fff1fa !important;
    padding: 8px !important;
    height: 36px !important;
    /*border-radius: 5px !important;*/
}

.choices__list {
    text-align: left !important;
}

ul.yiiPager {
    font-size: 13px !important;
}

.pager {
    font-size: unset;
}

.filters > td > input {
    border: 1px solid #f2ecec !important;
    height: 2.6rem;
    box-shadow: none !important;
    width: unset;
}

.tbl_rou .filters > td > input {
    width: 80px;
}

.tbl_rou {
    overflow-x: hidden !important;
}

.tbl_rou > table > thead:first-child .filters > td:nth-child(2) > input {
    width: 31rem;
}

.col_one_fourth_button {
    width: 10% !important;
}

.table-responsive {
    overflow-x: hidden;
    border: 1px solid #f2ecec;
    background: #fff;
    padding: 5px;
    border-radius: 0 0 10px 10px;
    font-family: 'Montserrat', sans-serif !important;
}

.table > thead > tr > td:nth-child(2) > select {
    width: 20rem;
    padding: 2.5px;
    border: 1px solid #f2ecec;
}

.page_header_div {
    margin-bottom: 0px !important;
    margin-top: 40px;
    text-align: left;
    background: #fff !important;
    margin-left: 1px;
    margin-right: 1px;
    padding: 5px;
    border-radius: 10px;
}

.page_header_h4 {
    margin-bottom: 0px !important;
    background: #fff !important;
    color: #5f5f5f !important;
    font-size: 24px !important;
    padding-left: 14px;
    text-align: left !important;
    font-weight: 600;
}

.searchbar {
    border-radius: 3px;
    background: #fff;
    /*padding: 5px 20px;*/
    border-radius: 5px;
}

.create_button {
    text-transform: none;
    width: 100% !important;
    padding: 0 16px 0 16px !important;
    background: #5f5f5f !important;
    border: 1px solid rgba(112, 112, 112, 0.05) !important;
    color: white !important;
    border-radius: 5px !important;
    font-size: 15px !important;
    margin: 18px 0 18px 0;
    height: 4rem !important;
    line-height: 38px;
}

.table_um .filters > td > input {
    width: -webkit-fill-available;
}

.table_sale_admin .filters > td > input {
    width: 11rem;
}

.route_update .s002 {
    background: #fff !important;
    padding-top: 1rem;
    margin-bottom: 3rem;
}

.route-form .col_one_third > label {
    margin-bottom: 0 !important;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

/*.input-field {
    border: 1px solid #f2ecec !important;
}*/

.route-form-box {
    display: flex;
    align-items: center;
}

.zone-form .col_half > label {
    margin-bottom: 0 !important;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.zone-form-box {
    display: flex;
    align-items: center;
}

.zone_update .s002 {
    background: #fff !important;
    padding-top: 1rem;
    margin-bottom: 3rem;
}

.stoppage-table-responsive {
    width: 100%;
    border: 1px solid #f2ecec !important;
    font-family: 'Montserrat', sans-serif !important;
}

.stoppage-form .col_one_fourth > label {
    margin-bottom: 0 !important;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.stoppage-form-box {
    display: flex;
    align-items: center;
}

.stoppage_update > form {
    background: #fff !important;
    padding-top: 1rem;
    margin-bottom: 3rem;
    padding: 2rem;
}

.db_table_cart th {
    font-size: 12px !important;
}

.table-overflow-x {
    overflow-x: auto !important;
}

.table-overflow th {
    font-size: 12px !important;
}

.filters > td > select {
    border: 1px solid #f2ecec !important;
    height: 2.6rem;
    box-shadow: none !important;
    width: 100px !important;
}

.status {
    border: 1px solid #f2ecec !important;
}

.table-overflow thead > tr > td:nth-child(1) > input {
    width: 40px;
}

.table-overflow thead > tr > td:nth-child(2) > input {
    width: 60px;
}

.table-overflow thead > tr > td:nth-child(4) > input {
    width: 90px;
}

.table-overflow thead > tr > td:nth-child(5) > input {
    width: 100px;
}

.table-overflow thead > tr > td:nth-child(6) > input {
    width: 100px;
}

.table-overflow thead > tr > td:nth-child(7) > input {
    width: 100px;
}

.table-overflow thead > tr > td:nth-child(8) > input {
    width: 140px;
}

.table-overflow thead > tr > td:nth-child(11) > input {
    width: 100px;
}

.seat-request-form .col_one_fourth > label {
    /*margin-bottom: 0 !important;*/
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.seat-request-form-box {
    display: flex;
    /*align-items: center;*/
    margin-right: 0;
    flex-direction: column;
}

.seat-request-admin .searchbar > form {
    padding-top: 30px;
    padding-bottom: 8px;
    margin-bottom: 0px !important;
}

.searchbar-search-button {
    /*width: 70%;*/
    /*margin: 0 0 0 60px;*/
}

.table-maternity thead > tr > td:nth-child(1) > input {
    width: 40px;
}

.table-maternity thead > tr > td:nth-child(2) > input {
    width: 100px;
}

.table-maternity thead > tr > td:nth-child(4) > input {
    width: 100px;
}

.table-maternity thead > tr > td:nth-child(5) > input {
    width: 100px;
}

.table-maternity thead > tr > td:nth-child(6) > input {
    width: 100px;
}

.table-maternity thead > tr > td:nth-child(7) > input {
    width: 100px;
}

.table-maternity thead > tr > td:nth-child(8) > input {
    width: 100px;
}

.table-maternity thead > tr > td:nth-child(10) > input {
    width: 100px;
}

.table-maternity thead > tr > td:nth-child(11) > input {
    width: 100px;
}

.table .detail-view {
    background: #fff !important;
}

.table .detail-view td {
    padding: 12px 0.6em !important;
}

.update-form-background {
    background: #fff;
    padding-top: 20px;
    margin-bottom: 40px;
    padding: 5px;
    border-radius: 10px;
}

.form-save-button {
    float: right;
    width: 15%;
}

.update-form-background form .inner-form .input-field.fouth-wrap {
    min-width: 23rem !important;
}

.db_table_cart td > .status {
    max-width: 100px;
}

.panel-body .col_half > label {
    text-transform: none !important;
}

.panel-body .col_full > label {
    text-transform: none !important;
}

.back-to-previous {
    text-align: center;
    width: 12%;
    float: right;
    margin: 0 0 0 0;
}

.zone-form-box .zone-search-field {
    min-width: 38rem !important;
}

.route-form-box .route-search-field {
    min-width: 22rem !important;
}

.stoppage-uptade > form {
    max-width: none !important;
}

.stoppage-table > thead {
    border-top: none !important;
}

.booking-history-admin .cart th {
    font-size: 12px !important;
}

.button-sold {
    width: 80%;
    text-align: center;
}

.template-index form {
    margin-bottom: 0px !important;
}

.subject-input-form label {
    text-transform: none !important;
}

.seat-request-label {
    font-weight: 800 !important;
    text-align: right !important;
}
.seat-request-label {
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: 800 !important;
    text-align: left !important;
}

.seat-request-input-box {
    /*margin-left: 10px;*/
}

.searchbar > form {
    max-width: none !important;
}

.s002 {
    font-family: 'Montserrat', sans-serif !important;
}

.email-sms .searchbar > form {
    margin: 38px 0 0 0 !important;
}

.route-view > thead {
    border-top: none !important;
}