@media only screen  and (max-width: 2000px) {
    .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
        width: 100%;
    }
    .req-tb-header-txt {
        font-size: 1rem !important;
    }
    .chart-container{
        flex-direction: row;
    }
    .heading-text{
        font-size: 15px !important;
    }
    .weather-image{
        display: block;
    }
    .logo-container{
        width: 16rem !important
    }
    .fw-700{font-size: 8px !important; }
    #box-head{font-size: 15px !important;}
    .heading-block-number{
        font-size: 15px !important;
        padding: 10px !important;
        height: 1rem !important;
        width: 1rem !important;
    }
    .box-top{height: 3rem !important;}
    .small-img{height: 20px !important;float: left;margin-top: -13px;margin-right: 10px;}
    .vehicle-type-title{border-bottom: 2px solid; color: #4d4d4d;margin-top: -9px;}
    .vehicle-title{margin-top:-6px;}
    .row-fluid [class*="span"]{
        min-height: 20px;
    }
    #map-chart{zoom:45%;}
    #requisition{zoom:46%;}
    #derparture{zoom:35%; }
    #footer-all{zoom:47.5%; }
    .divTableCell{padding: 5px 10px !important;}
    .fs-1 {
        font-size: 2rem !important;
        line-height: 1.5 !important;
    }




}


@media only screen and (max-width: 1200px) {
    .req-tb-header-txt {
        font-size: 1.25rem !important;
    }
    .chart-container{
        flex-direction: row;
    }
    .heading-text{
        font-size: 2rem !important;
    }
    .weather-image{
        display: block;
    }
    .logo-container{
        width: 16rem !important
    }
}
@media only screen and (max-width: 1366px) {
    .req-tb-header-txt {
        font-size: 1rem !important;
    }
    .chart-container{
        flex-direction: row;
    }
    .heading-text{
        font-size: 1rem !important;
    }
    .weather-image{
        display: block;
    }
    .logo-container{
        width: 16rem !important
    }
}
@media only screen and (max-width: 1024px) {
    .req-tb-header-txt {
        font-size: 1rem !important;
    }
    .chart-container{
        flex-direction: row;
    }

    .heading-text{
        font-size: 1.5rem !important;
    }
    .weather-image{
        display: block;
    }
    .logo-container{
        width: 16rem !important
    }
}
@media only screen and (max-width: 768px) {
    .req-tb-header-txt {
        font-size: 1rem !important;
    }
    .chart-container{
        flex-direction: row;
    }
    .heading-text{
        font-size: 1.2rem !important;
    }
    .weather-image{
        display: block;
    }
    .logo-container{
        width: 16rem !important
    }
}
@media only screen and (max-width: 420px) {
    .req-tb-header-txt {
        font-size: 0.75rem !important;
        width: 100% !important;
    }
    .chart-container{
        flex-direction: column;
    }

    .heading-text{
        font-size: 1.5rem !important;
    }
    .mb-resp-1{
        margin-bottom: 1rem
    }
    .weather-image{
        display: none;
    }
    .logo-container{
        width: 47rem !important;
    }
}
#header {
    display: none;
}
#topnav {
    display: none;
}
#mainmenu {
    display: none;
}
#footer {
    display: none;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    margin: auto;
    text-align: center;
    font-family: arial;
    float: left;
    min-height: 250px;
    overflow: hidden;
    border-radius: 40px;
    border: 1px solid transparent;
    border-top-color: #0085ff;
    border-right-color: #0085ff;
    border-left-color: #ec008c;
    border-bottom-color: #ec008c;
    background: white;
}
.card p {
    border: none;
    outline: 0;
    padding: 20px;
    color: white;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 35px;
}

.card p:hover {
    opacity: 0.7;
}
.total-count {
    max-width: 45%;
}
.detail-count {
    max-width: 55%;
}
.available {
    height: 150px;
    border: 2px solid;
    border-radius: 100%;
    border-color: #8434ff;
    margin-top: -56px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px #8434ff;
}
.data-view {
    padding: 20px;
    margin-top: 35px;
    padding-bottom: 0;
}

.on-duty {
    height: 150px;
    border: 2px solid;
    border-radius: 100%;
    border-color: #a040c8;
    margin-top: -56px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px #a040c8;

}
.pick-drop {
    height: 150px;
    border: 2px solid;
    border-radius: 100%;
    border-color: #005aa7;
    margin-top: -56px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px #005aa7;

}
.work-shop {
    height: 150px;
    border: 2px solid;
    border-radius: 100%;
    border-color: #218ef4;
    margin-top: -56px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px #218ef4;

}
.thead {
    background-color: #7f63a1;
    color: white;
    font-weight: bold;
    font-size: 20px;
    height: 30px;
    padding-left: 5px;
    padding-top: 20px;
}
.table-custom {
    border-radius: 20px;
    overflow: hidden;
    border: 1.2px solid transparent;
    border-top-color: #0085ff;
    border-right-color: #0085ff;
    border-left-color: #ec008c;
    border-bottom-color: #ec008c;
}
.custom-span-1-5 {
    width: 7.982905982905983% !important;
}
.custom-span-2 {
    width: 10.52991452991453% !important;
}
.hover-row:hover {
    background: white;
}
/*footer {*/
/*height: 80px;*/
/*background: #40de00;*/
/*margin-top: 2px;*/
/*}*/
.fleet-logo {
    position: absolute;
    height: 100px;
    width: 100px;
    margin-top: -10px;
}
.notification-text {
    font-size: 50px;
    font-style: italic;
    margin: 0;
    color: white;
}
.notification-text-area {
    margin-top: 20px;
    width: 84%;
    margin-left: 100px;
}
.weather-part {
    height: 125px;
    width: 170px;
    background: white;
    text-align: center;
    margin-top: -25px;
    border: 1px solid;
    border-color: blueviolet;
    background: aliceblue;
    position: absolute;
    margin-left: 12px;
    overflow: hidden;
    border-radius: 20px;
}
.weather-text {
    font-weight: 100;
    font-size: 50px;
    color: #7302b0;
}
.width-100 {
    max-width: 100%;
}
.custom-margin {
    margin-top: -15px;
}
.img-icon-height {
    height: 30px;
}
.custom-padding {
    padding: 0;
}
#txt {
    font-size: 20px;
    font-weight: bold;
}
/*.mySlides {*/
/*display: none;*/
/*}*/

.table-row{
    max-height:175px;
    overflow-y: auto;
}
.table-row:hover{
    border-color:red;
}
::-webkit-scrollbar {
    display: none;
}
.even {
    background: #fcf6ff;
}
.summary-text {
    background: black;
    color: white;
    margin-bottom: 5px;
    padding: 0;
    border-radius: 100px;
    text-align: center;
}

.req-tb-header-txt{
    padding: 5px 20px;
    border: 1px solid black;
    border-radius: 10px;
    /*background-color: #3b3b3b;*/
    /*background: linear-gradient(to right, #000000, #043c4e);*/
    background: linear-gradient(to right, #000000, #3d0088);
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    width: 25%;
}
.mt-0{
    margin-top: 0 !important;
}
.mb-0{
    margin-bottom: 0 !important;
}
.ml-0{
    margin-left: 0 !important;
}
.mr-0{
    margin-right: 0 !important;
}
.mt-0-25{
    margin-top: 0.25rem !important;
}
.mb-0-25{
    margin-bottom: 0.25rem !important;
}
.ml-0-25{
    margin-left: 0.25rem !important;
}
.mr-0-25{
    margin-right: 0.25rem !important;
}
.mt-0-5{
    margin-top: 0.5rem !important;
}
.mb-0-5{
    margin-bottom: 0.5rem !important;
}
.ml-0-5{
    margin-left: 0.5rem !important;
}
.mr-0-5{
    margin-right: 0.5rem !important;
}
.mt-1{
    margin-top: 1rem !important;
}
.mb-1{
    margin-bottom: 1rem !important;
}
.ml-1{
    margin-left: 1rem !important;
}
.mr-1{
    margin-right: 1rem !important;
}
.mt-1-5{
    margin-top: 1.5rem !important;
}
.mb-1-5{
    margin-bottom: 1.5rem !important;
}
.ml-1-5{
    margin-left: 1.5rem !important;
}
.mr-1-5{
    margin-right: 1.5rem !important;
}
.p-3-5{
    padding: 3px 5px;
}
.p-5-10{
    padding: 5px 10px;
}
.text-center{
    text-align: center !important;
}
.text-left{
    text-align: left !important;
}
.text-right{
    text-align: right !important;
}

.divTable{
    display: table;
    width: 100%;
}
.divTableRow {
    display: table-row;
}
.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
}
.divTableCell, .divTableHead {
    /*border: 1px solid #999999;*/
    display: table-cell;
    padding: 10px 15px;
}
.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}
.divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}
.divTableBody {
    display: table-row-group;
}
.fs-1{
    font-size: 1rem !important;
}
.fs-1-15{
    font-size: 1.15rem !important;
}
.fs-1-30{
    font-size: 1.30rem !important;
}
.fs-1-45{
    font-size: 1.45rem !important;
}
.fw-100{
    font-weight: 100;
}
.fw-300{
    font-weight: 300;
}
.fw-500{
    font-weight: 500;
}
.fw-700{
    font-weight: 700;
}
.bg-purple{
    background-color: #6500A4 ;
}
.bg-white{
    background-color: white;
}
.white{
    color: white;
}
.br-1-solid-grey{
    border-right: 1px solid #eaeaea;
}
.br-1-solid-darkpurple{
    border-right: 1px solid #611a8e;
}
/*.scroll-pane{
    width: 100%;
    height: 200px;
    overflow: auto;
}*/
.circle{
    position: relative;
    border-radius: 50%;
    width: 100%;
    height: auto;
    padding-top: 100%;
    background: white;
}
.heading-block{
    /*background: antiquewhite;*/
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 1px solid transparent;
    border-radius: 25px 25px 0px 0px;
    display: flex !important;
}
.border-custom{
    border: 1px solid transparent;
    border-top-color: #0085ff !important;
    border-right-color: #0085ff !important;
    border-left-color: #ec008c !important;
    border-bottom-color: #ec008c !important;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 0px 10px #8434ff;
}
.p-10{
    padding: 10px;
}
.pl-30{
    padding-left: 30px;
}
.pt-10{
    padding-top: 10px;
}
.pt-5{
    padding-top: 5px;
}
.bg-grad-available{
    background:linear-gradient(to right, #8434ff, #36cdff 100%);
    color: white;
}
.bg-grad-onduty{
    background:linear-gradient(to right, #a040c8, #f96a6a 100%);
    color: white;
}
.bg-grad-pickandrop{
    background:linear-gradient(to right, #005aa7, #99fd9b 100%);
    color: white;
}
.bg-grad-workshop{
    background:linear-gradient(to right, #212121, #218ef4 100%);
    color: white;
}
.height-70{
    height: 70px;
}
.height-80{
    height: 80px;
}
.heading-block-number{
    border: 2px solid;
    border-radius: 50%;
    padding: 10px;
    top: -10px;
    position: relative;
    background-color: white;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /*display: table-cell;
    vertical-align: middle;*/
}
.heading-text{
    font-size: 2rem
}
.border-shadow-available{
    border-color: #6d3cb7;
    box-shadow: 0px 0px 10px #2e0273;
}
.border-shadow-onduty{
    border-color: #63038c;
    box-shadow: 0px 0px 10px #3d0554;
}
.border-shadow-pickandrop{
    border-color: #0c4677;
    box-shadow: 0px 0px 10px #083c69;
}
.border-shadow-workshop{
    border-color: #064783;
    box-shadow: 0px 0px 10px #01284c;
}
.logo-container{
    color: #990000;
    margin-left: 0;
    /*border: 1px solid transparent;*/
    border-top-color: #0085ff !important;
    border-right-color: #0085ff !important;
    border-left-color: #ec008c !important;
    border-bottom-color: #ec008c !important;
    /*border-radius: 25px 25px 25px 25px;*/
    /*box-shadow: 0px 0px 10px #8434ff;*/
    box-shadow: 0px 0px 10px #000000;
    /*padding: 5px;*/
    /*width: 5.982905982905983% !important;*/
}
.notification-container{
    color: #a9dba9;
    margin-left: 0;
    /*width: 85.470085470085474‬% !important;*/

    /*border-top: 1px solid brown;*/
    /*border-right: 1px solid cornflowerblue;*/
    /*border-bottom: 1px solid cyan;*/
    /*border-left: 1px solid red;*/
}
.weather-container{
    color: #0e90d2;
    margin-left: 0 !important;
    /*border: 1px solid transparent;*/
    /*border-top-color: #0085ff !important;
    border-right-color: #0085ff !important;
    border-left-color: #ec008c !important;
    border-bottom-color: #ec008c !important;*/
    border-left: 2px solid #161616;
    border-bottom: 2px solid #161616;
    border-right: 2px solid #161616;
    /*border-radius: 25px 25px 25px 25px;*/
    /*box-shadow: 0px 0px 10px #8434ff;*/
    box-shadow: 0px 0px 10px #000000;
    /*height: 116px;*/
    /*width: 8.547008547008547% !important;*/
    /*padding: 5px;*/
    /*background: linear-gradient(to right, #eeff90, #0061ff);*/
    background: #272727;
    color: white;
}
.logo-box{
    text-align: center;
}
.rating-box{
    text-align: center;
    line-height: 1.2rem;
    /* font-size: 2rem; */
    border-top: 1px solid #6501a4;
    /* border: 1px solid #000; */
    background-color: #002533;
    /* padding: 5px 0px 3px 0px; */
    color: white;
    height: 2rem;
    margin: auto auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 0px 3px #65625d;
}
/*.gm-style-iw + div { display: none; }*/
button.gm-ui-hover-effect{
    display: none !important;
}
.gm-style .gm-style-iw-c {
    padding: 0;
}
h5{
    line-height: 0px;
}
.progress-card{
    text-align: center;
    background-color: #a9dba9;
    border: 1px solid #ec0e8c;
    border-radius: 0.75rem;
    background: linear-gradient(to right, #c3eee0, #b3c7f0);
}
.progress-item{
    padding: 3px 5px;
    font-size: 1rem;
    /* background: antiquewhite; */
    font-weight: bold;
    /* border-bottom: 1px solid #ec0e8c; */
}
.progress-count{
    font-size: 1.50rem;
}
a.canvasjs-chart-credit{
    display: none;
}
.chart-container{
    display: flex;
}
.chart-item{
    flex: 1;
}
.chart-item-parent{
    display: flex;
}
.chart-item-child{
    flex: 1;
}
.clamp-2-line{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.clamp-3-line{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.block-ellipsis {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 33px;
    /*margin: 0 auto;*/
    font-size: 1rem;
    /*line-height: 1;*/
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.eli-2-line{
    display: block;
    /* Fallback for non-webkit */
    display: -webkit-box;
    max-width: 350px;
    height: 109.2px;
    /* Fallback for non-webkit */
    margin: 0 auto;
    font-size: 26px;
    line-height: 1.4;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.multiline-ellipsis {
    position: relative;
    height: 1.3em;
    overflow: hidden;
}

.multiline-ellipsis::after {
    content: "...";
    position: absolute;
    right: 0;
    width: 1rem;
    bottom: 0;
    background: inherit;
    margin-right: 1.0rem;
    text-align: right;
}
.elip-2{
    width: 22rem;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    /*border: 1px solid #ddd;*/
    /*margin: 0;*/
}
.elip-3{/*truncate-ellipsis*/
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    max-width: 21%;
}
.checked {
    /*color: orange;*/
    color: #e62ea0;
}

[class^="icon-"], [class*=" icon-"] {
    background-image: none;
}
.icon {
    margin: 0 !important;
    width: 5rem !important;
    height: 5rem !important;
}
div.rating-box>span {
    margin: 0 5px;
}
.box-top{height: 5rem;}
.small-img{height: 28px;float: left;margin-top: -13px;margin-right: 10px;}
.vehicle-type-title{border-bottom: 2px solid; color: #4d4d4d;}