::-webkit-scrollbar {
    display: none;
}
.even {
    background: #fcf6ff;
}
.circle{
    position: relative;
    border-radius: 50%;
    width: 100%;
    height: auto;
    padding-top: 100%;
    background: white;
}
.heading-block{
    /*background: antiquewhite;*/
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 1px solid transparent;
    border-radius: 25px 25px 0px 0px;
    display: flex !important;
}
.border-custom{
    /* border: 1px solid transparent; */
    border-top-color: #0085ff !important;
    border-right-color: #0085ff !important;
    border-left-color: #ec008c !important;
    border-bottom-color: #ec008c !important;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    /*box-shadow: 0px 0px 10px #8434ff;*/
}
.bg-grad-available{
    background:linear-gradient(to right, #8434ff, #36cdff 100%);
    color: white;
}
.bg-grad-onduty{
    background:linear-gradient(to right, #a040c8, #f96a6a 100%);
    color: white;
}
.bg-grad-pickandrop{
    background:linear-gradient(to right, #005aa7, #99fd9b 100%);
    color: white;
}
.bg-grad-workshop{
    background:linear-gradient(to right, #212121, #218ef4 100%);
    color: white;
}